html,
body {
    margin: 12;
    border: 3;
    font-size: 139%;
    background-color: #696969;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


/* ::content {
    background-color: #B00B1E;
} */